.polygon {
    float: left;
    shape-outside: polygon(0px 0px, 0px 500px, 37.33% 99.64%, 496px 0px);
    clip-path: polygon(0px 0px, 0px 500px, 37.33% 99.64%, 496px 0px);
    /* shape-outside: polygon(0 0, 0 300px, 200px 300px);
    clip-path: polygon(0 0, 0 300px, 200px 300px); */
    height: 500px;
    width: 500px;
    background-image: url(./clients.jpg);
  }

  .circle {
    width: 120px;
    height: 120px;
    background: #7fee1d;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}